<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시물 작성폼</title>
</head>

<style>

  .layout {
    width : 500px;
    margin : 0 auto;
    margin-top : 40px;
  }

  .layout input {
    width : 100%;
    box-sizing : border-box
  }

  .layout textarea {
    width : 100%;
    margin-top : 10px;
    min-height : 300px;
  }

</style>

<body>
<div class="layout">
  <form th:action="@{/board/update/{b_id}(b_id = ${board.b_id})}" method="post">
    <input name="b_title" type="text" th:value="${board.b_title}">
    <textarea name="b_content" th:text="${board.b_content}"></textarea>
    <button type="submit">수정</button>
  </form>
</div>
</body>
</html>